<div class="p-8 flex justify-center">
    <mat-card class="w-1/2 flex flex-col align-center pb-3">
        <mat-card-header>
            <h1 class="text-center w-full">Novo agendamento</h1>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup" class="flex flex-col justify-center gap-5">
                <mat-form-field>
                    <mat-label>Conta de origem</mat-label>
                    <input type="text" formControlName="contaOrigem" 
                        placeholder="Insira a conta de origem" matInput>
                    <mat-hint>A conta deve ter 10 caracteres e conter somente números</mat-hint>
                    <mat-error>
                        @if(control('contaOrigem')?.touched && control('contaOrigem')?.invalid) {
                            <ng-container [ngTemplateOutlet]="contaFieldErrors" 
                                [ngTemplateOutletContext]="{$implicit: 'contaOrigem'}"></ng-container>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Conta de destino</mat-label>
                    <input type="text" formControlName="contaDestino" 
                        placeholder="Insira a conta de destino" matInput>
                    <mat-hint>A conta deve ter 10 caracteres e conter somente números</mat-hint>
                    <mat-error>
                        @if(control('contaDestino')?.touched && control('contaDestino')?.invalid) {
                            <ng-container [ngTemplateOutlet]="contaFieldErrors" 
                                [ngTemplateOutletContext]="{$implicit: 'contaDestino'}"></ng-container>
                        }                        
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Valor da transferência</mat-label>
                    <input currencyMask 
                        [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            allowNegative: false,
                            min: 0,
                            align: 'left'
                        }"
                        formControlName="valorTransferencia" 
                        maxlength="21"
                        matInput>
                    <mat-error>
                        @if (control('valorTransferencia')?.hasError('min')) {
                            O valor mínimo para transferência deve ser de {{ minimumTransferValue | currency: 'BRL' }}
                        } @else if (control('valorTransferencia')?.hasError('required')) {
                            <ng-container [ngTemplateOutlet]="requiredError"></ng-container>
                        } @else if (control('valorTransferencia')?.hasError('maxlength')) {
                            O valor da transferência não deve ter mais de 19 dígitos
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Data da transferência</mat-label>
                    <input formControlName="dataTransferencia" matInput 
                        [matDatepicker]="picker"
                        [matDatepickerFilter]="filtroData">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="month" [startAt]="today"></mat-datepicker>
                    <mat-error>
                        @if (control('dataTransferencia')?.hasError('matDatepickerFilter')) {
                            A data deve ser igual ou após a data de hoje
                        } @else if (control('dataTransferencia')?.hasError('matDatepickerParse')) {
                            Data inválida
                        } @else if (control('dataTransferencia')?.hasError('required')) {
                            <ng-container [ngTemplateOutlet]="requiredError"></ng-container>
                        }
                    </mat-error>
                </mat-form-field>
            </form>
            @if (formGroup.hasError('sameAccountId')) {
                <section class="text-center py-3">
                    <mat-error>A conta de origem deve ser diferente da conta de destino</mat-error>
                </section>
            }
        </mat-card-content>
        <mat-card-actions class="py-3">
            <div class="flex flex-col w-full items-center justify-center">
                <div class="flex flex-col">
                    <button class="mb-3 min-w-64" mat-raised-button color="primary"
                        [disabled]="formGroup.invalid || submittingForm"
                        (click)="criarNovoAgendamento($event)">Criar novo agendamento</button>
                    <button class="flex-none min-w-64" mat-stroked-button color="primary" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #contaFieldErrors let-controlName>
    @if (control(controlName)?.hasError('pattern')) {
        Conta inválida
    } @else if (
        control(controlName)?.hasError('minlength') ||
        control(controlName)?.hasError('maxlength')
    ) {
        A conta deve conter exatamente 10 caracteres
    } @else {
        <ng-container [ngTemplateOutlet]="requiredError"></ng-container>
    }
</ng-template>

<ng-template #requiredError>Campo obrigatório</ng-template>